@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    display: block;

}

.label-info{
    padding: 5px;
}

.label-primary{
    background: #1c3f95;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background: #1c3f95;
}

.btn-primary:hover {
    background: #1c3f95;
}

.panel-primary > .panel-heading {
    background: #1c3f95 !important;
}

.label{
    padding:10px;
}